{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}">
<title>{% block title %}{{ title }} | {{ site_title|default:_('DM Generator Web Edition') }}{% endblock %}</title>
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'Towns:index' %}">{{'Town List'}}</a>
{% if title %} &rsaquo;  {{ title }}{% endif %}
</div>
{% endblock %}

<h1>Generate Town</h1>
<form action="{% url 'Towns:Generate'%}" method="post">
{% csrf_token %}
{{form1.as_ul}}
<input type="submit" value="Generate" />
</form>
<h1>Generate NPC</h1>
<form action="{% url 'Towns:Generate'%}" method="post">
{% csrf_token %}
{{form2.as_ul}}
<input type="submit" value="Generate" />
</form>
<h1>Generate Shop</h1>
<form action="{% url 'Towns:Generate'%}" method="post">
{% csrf_token %}
{{form3.as_ul}}
<input type="submit" value="Generate" />
</form>
<h1>Generate Item</h1>
<form action="{% url 'Towns:Generate'%}" method="post">
{% csrf_token %}
{{form4.as_ul}}
<input type="submit" value="Generate" />
</form>