{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}">
<title>{% block title %}{{ title }} | {{ site_title|default:_('DM Generator Web Edition') }}{% endblock %}</title>
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'Towns:index' %}">{{'Town List'}}</a>
{% if title %} &rsaquo;  {{ title }}{% endif %}
</div>
{% endblock %}
<form action="{% url 'Towns:ModifyTown' tid%}" method="post">
{% csrf_token %}
<h1>Modify {{instance}}</h1>
{{form.as_ul}}
<input type="submit" value="Save" name="{{id}}"/>
</form>