{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<title>{% block title %}{{ title }} | {{ site_title|default:_('DM Generator Web Edition') }}{% endblock %}</title>
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'Towns:index' %}">{{'Town List'}}</a>
{% if title %} &rsaquo;  {{ title }}{% endif %}
</div>
{% endblock %}

<h1>{{ Town.Name }}</h1>
<ul>
<h2>Residents</h2>
{% for NPC in Town.Residents.all %}
    <li>{{ NPC }}</li>
{% endfor %}
<h2>Shops</h2>
{% for shop in Town.Shops.all %}
    <li>{{ shop }}</li>
{% endfor %}
</ul>