{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<title>{% block title %}{{ title }} | {{ site_title|default:_('DM Generator Web Edition') }}{% endblock %}</title>
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% if title %} {{ title }}{% endif %}
</div>
{% endblock %}

{% if MyTowns %}
    <table>
    <tr>
    	<th>Town Name</th>
    	<th>Shops</th>
    </tr>
    {% for Town in MyTowns %}
        <tr>
        	<td> <a href="{% url 'Towns:Towndetail'  Town.id%}">{{ Town }}</a> </td> 
        	<td> {% for shop in Town.Shops.all %}
        		{{shop.Type}}
        	{% endfor %}</td>
        </tr>

    {% endfor %}
	</table>
{% else %}
    <p>No Towns are available.</p>

{% endif %}
<a href="{% url 'Towns:Generate' %}"> Generate Towns</a>