{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<title>{% block title %}{{ title }} | {{ site_title|default:_('DM Generator Web Edition') }}{% endblock %}</title>
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'Towns:index' %}">{{'Town List'}}</a>
{% if title %} &rsaquo;  {{ title }}{% endif %}
</div>
{% endblock %}

<h1>{{ Town.Name }}</h1>
<ul>
<h2>Residents</h2>
<table>	
	<tr>
		<th>Name</th>
	</tr>
{% for NPC in Town.Residents.all %}
    <tr>{{ NPC }}</tr>
{% endfor %}	
</table>

<h2>Shops</h2>
<table>	
	<tr>
		<th>Shop Name</th>
		<th>Shop Type</th>
		<th>Owner</th>
	</tr>
{% for shop in Town.Shops.all %}
    <tr><td>{{ shop.FirstName }} {{shop.LastName}}</td>
    <td> {{shop.Type}} </td>
    <td> {{shop.Owner}}</td>
    </tr>

{% endfor %}
</table>
<form action="{% url 'Towns:Towndetail' Town.id %}" method="post">
{% csrf_token %}

{% for s in Town.Shops.all %}
<h2>{{s.FirstName}} {{s.LastName}}</h2>
<h3>Balance: {{s.Balance}}</h3>
<h3>Inventory</h3>
<table>
	<tr>
		<th>Item</th>
		<th>Cost</th>
		<th></th>
	</tr>
	{% for item in s.Inventory.all %}
		<tr>
			<td>{{item.Name}}</td>
			<td>{{item.Cost}}</td>
			<td><input type="radio" name="{{item.id}}" id="{{s.id}}" value="{{ s.id }}" /></td>
		</tr>
	{% endfor %}
</table>
<input type="submit" value="Buy" id =" {{item.id}}" />
{% endfor %}
</form>