{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
<title>{% block title %}{{ title }} | {{ site_title|default:_('DM Generator Web Edition') }}{% endblock %}</title>
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% if title %} {{ title }}{% endif %}
</div>
{% endblock %}

{% if MyTowns %}
    <ul>
    {% for Town in MyTowns %}
        <li><a href="{% url 'Towns:Towndetail'  Town.id%}">{{ Town }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Towns are available.</p>

{% endif %}
<a href="{% url 'Towns:Generate' %}"> Generate Towns</a>